
@media (max-width: 768px) {
  .navbar {
    padding: 5px 0;
  }
  .diff-logo {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
  .moreDiv {
    width: 100%;
    display: block;
}
}
@media (max-width: 375px) {
  .smll-font {
    font-size: 12px;
  }
}
